form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="email"], input[type="password"] {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    background: rgba(255, 255, 255, 0.8);
}

input[type="email"]:focus, input[type="password"]:focus {
    border-color: #0056b3;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 86, 179, 0.5);
}

button {
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 86, 179, 0.2);
    color: #f1f1f1;
}

* {
    transition: all 0.3s ease-in-out;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999 !important;
}

#toast-container > .toast {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    background: linear-gradient(135deg, #333, #444);
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-left: 5px solid;
    animation: slideIn 0.5s, fadeOut 0.5s 2.5s;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.toast-success {
    border-color: #28a745;
    background: linear-gradient(135deg, #28a745, #2ecc71);
}

.toast-error {
    border-color: #dc3545;
    background: linear-gradient(135deg, #dc3545, #e74c3c);
}

.toast-info {
    border-color: #17a2b8;
    background: linear-gradient(135deg, #17a2b8, #3498db);
}

.toast-warning {
    border-color: #ffc107;
    background: linear-gradient(135deg, #ffc107, #f39c12);
}

.toast-message {
    flex-grow: 1;
    padding-right: 10px;
}
.toast-close {
    background: transparent;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    color: #999;
}

.toast:hover {
    transform: scale(2.02);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media (max-width: 600px) {
    .row {
        flex-direction: column;
    }

    .col {
        width: 100%;
    }
}
